@charset "UTF-8";

* {margin:0 auto;}

#wrapper {
	text-align:center;
	width:1000px;
	margin-top:150px;	
}

#box2 {
	margin-top:30px;
}

h1 {
	margin-top:40px;
    font-size: 40px;
	font-weight: 900px; 
}

span{
	font-size: 30px;	
}

.bTab .hashtag {
	margin-top:25px;
	margin: 20px 25px;  
	display:inline-block;	
}
.bTab span {
	cursor:pointer;
}

.ranking img {
	display: block;
    margin: 10px;
}

.empty {
	margin-bottom: 40px;
}

.info {
    position: relative; 
    display: inline-block; 
}

.textinfo {
	position: absolute;
    visibility: hidden; 
    width: 91%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    font-weight:bold; 
    text-align: center; 
    z-index: 1; 
    bottom: 10px; 
    left: 0; 
    top: 2;
    right: 0;
    transition: visibility 0.3s, opacity 0.3s linear; 
    opacity: 0;
    box-sizing: border-box; 
}

.textinfo span{
	font-size:20px;
}

.info:hover .textinfo {
    visibility: visible; 
    opacity: 0.8;
    cursor:pointer; 
}

.infocoming {
    position: relative; 
    display: inline-block;
    transition: transform 0.3s ease; 
}

.textcoming {
	position: absolute;
    visibility: visible; 
    width: 91%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    text-align: center; 
    z-index: 1; 
    bottom: 10px; 
    left: 0; 
    top: 2;
    right: 0;
    opacity: 0.8;
    box-sizing: border-box; 
}

.infocoming:hover {
    transform: scale(1.1);
}


.empty2 {
	height:100px;	
}

.active {
	color:white;
	background-color:#20B2AA;
	border-radius:5px;	
}
