@charset "UTF-8";


.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000000; /* 배경을 검은색으로 변경 */
            height : 80px;
            padding: 10px;
        }
        .navbar a {
            text-decoration: none;
            margin: 0 15px;
            color: #fee9da;
            font-size: 15px;
            font-weight: bold;
        }
        .navbar a:hover {
            color: #c4c0c0;
        }
        .navbar .categories a {
            margin: 0 60px;
            color: #ffffff;
            font-size: 17px;
            font-weight: bold;
        }
        .navbar .categories a:hover {
            color: #c4c0c0; /* 카테고리 링크에 마우스를 올리면 밝은 회색으로 변경 */
        }
        .navbar .categories {
            margin-left: auto;
            margin-right: auto;
            background-color: #000000;
        }
        
     	.content {
            text-align: center;
            margin-top: 100px;
        }

        .mainLogo{
            text-decoration: none;
            margin-left: 50px;
        }

        .mainLogo a{
            color: bisque;
            font-size: x-large;
            font-weight: bold;
        }
        .member{
            width: 300px;;
        }
        
        .member a{
            color: #ffffff;
            float : right;
        }
