
.detailPage-wrap {
    width: 1300px;
    margin: 0 auto;
    padding-top: 55px;
    position: relative;
}
.detailPage-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/* .dt-01 {
    overflow: hidden;
} */
/* .dt-01 .dt-location {
    float: left;
    margin-top: 3px;
    padding-right: 5px;
} */
/* .dt-01 .dt-location a {
    display: inline-block;
    font-size: 14px;
    color: #333;
    padding-right: 9px;
    margin-right: 4px;
} */
.dt-02 {
    margin-top: 16px;
    padding-left: 50px;
    position: relative;
    border-bottom: 2px solid #333;
}
.dt-02 .dt-title {
    word-break: break-all;
    font-size: 35px;
    color: #333;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.003em;
}
.concert-wrap {
    width: 100%;
    min-width: 1300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 600px;
}
.detailPage-wrap.dw2 {
    padding-top: 0;
    margin-top: -600px;
}

.dt-03 {
    margin-left: 40px;
    margin-top: 40px;
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
}

.dt-03-left {
    float: left;
    width: 400px;
}

.dt-03-left .dt-product-imgbox {
    width: 400px;
    height: 500px;
    position: relative;
}

.dt-03-right {
    float: right;
    width: 600px;
}

.dt-03-right dl {
    padding-bottom: 100px;
    overflow: hidden;
}

.dt-03-right dt {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    float: left;
    line-height: 50px;
}

.dt-03-right dd {
    font-size: 15px;
    color: #333;
    clear: right;
    margin: 0 0px 3px 86px;
    line-height: 50px;
    position: relative;
}

#ticketOpenBtn {
    display: inline-block;
    width: 236px;
    height: 50px;
    margin: 0 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #f43142;
    border: 2px solid #f43142;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#ticketOpenBtn:disabled {
    color: #fff;
    border-color: #ccc;
    background-color: #ccc;
    cursor: default;
}

.dt-04 {
    padding-top: 150px;
    border-bottom: 2px solid #333;
    font-size: 0;
}

.dt-04 a {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    width: 180px;
    border-top: 3px solid #fff;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #686767;
}

.detailPage-describe {
    position: relative;
    text-align: center;
}

.dt-05 {
    padding-top: 50px;
    padding-bottom: 70px;
}

#map {
	width:500px;
	height:400px;
	margin: auto;
}

.dt-05 .dt05-tit {
    padding-top: 25px;
    font-size: 30px;
    color: #333;
    padding-bottom: 30px;
    font-weight: bold;
}

.dt-05 div .dt05-txt > p {
    font-size: 13px;
    line-height: 28px;
    color: #555;
}

.dt-05 div .dt05-tbl {
    border-top: 1px solid #333;
    width: 960px;
    margin: 0 auto;
}

.dt-05 div .dt05-tbl table {
    border-collapse: collapse;
    width: 100%;
}

.dt-05 div .dt05-tbl table th {
    font-size: 15px;
    color: #333;
    text-align: center;
    height: 50px;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.dt-05 div .dt05-tbl table th.dt05-tbl-tit2 {
    font-size: 14px;
    color: #333;
    background: #f6f6f6;
}

.dt-05 div .dt05-tbl table td {
    font-size: 15px;
    color: #555;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.dt-05 div .dt05-tbl.dt05-tbl-plus table td {
    font-size: 14px;
    color: #555;
    text-align: left;
    height: auto;
    padding: 8px 10px 4px 22px;
    line-height: 20px;
}

.dt-05 div .dt05-tbl .dt05-detail-box {
    text-align: left;
    line-height: 25px;
    padding: 6px 0 15px 0;
    color: #555;
    font-size: 13px;
}