@font-face {
   font-family: 'TheJamsil2Light';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
   font-weight: 200; /*�̹� ������ 2Light �̷��� �������� font-weight �ǹ� ����*/
   font-style: normal;
}
@font-face {
   font-family: 'TheJamsil4Medium';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2') format('woff2');
   font-weight: 400; /*�̹� ������ 4Medium �̷��� �������� font-weight �ǹ� ����*/
   font-style: normal;
}
@font-face {
   font-family: 'TheJamsil5Bold';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
   font-weight: 500; /*�̹� ������ 5Bold �̷��� �������� font-weight �ǹ� ����*/
   font-style: normal;
}
@font-face {
 font-family: 'TheJamsil3Regular';
 src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
 font-weight: 300; /*�̹� ������ 3Regular �̷��� �������� font-weight �ǹ� ����*/
 font-style: normal;
}

*{margin:0 auto;}

.detailPage-wrap {
    width: 1300px;
    margin: 0 auto;
    padding-top: 55px;
    position: relative;
}
.detailPage-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.dt-01 .dt-location a {
    display: inline-block;
    font-size: 20px;
    color: #333;
    padding-right: 9px;
    margin-right: 4px;
    font-family: 'TheJamsil2Light', sans-serif; 
}

.dt-02 {
    margin-top: 20px;
    padding-left: 50px;
    position: relative;
    border-bottom: 2px solid #333;
}
.dt-02 .dt-title {
	margin-bottom: 30px;
    word-break: break-all;
    font-size: 35px;
    color: #333;
    line-height: 50px;
    letter-spacing: -0.003em;
    font-family: 'TheJamsil5Bold', sans-serif;
}
.concert-wrap {
    width: 100%;
    min-width: 1300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 600px;
}
.detailPage-wrap.dw2 {
    padding-top: 0;
    margin-top: -600px;
}

.dt-03 {
    margin-left: 40px;
    margin-top: 50px;
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
}

.dt-03-left {
    float: left;
    width: 400px;
}

.dt-03-left .dt-product-imgbox {
    width: 400px;
    height: 500px;
    position: relative;
}

.dt-03-right {
    float: right;
    width: 580px;
}

.dt-03-right dl {
    padding-bottom: 100px;
    overflow: hidden;
}

.dt-03-right dt {
    font-size: 20px;
    color: #333;
    float: left;
    line-height: 50px;
    font-family: 'TheJamsil4Medium', sans-serif;
}

.dt-03-right dd {
    font-size: 20px;
    color: #333;
    clear: right;
    margin: 0 0px 5px 90px;
    line-height: 50px;
    position: relative;
    font-family: 'TheJamsil2Light', sans-serif;
}

#ticketOpenBtn {
    display: inline-block;
    width: 236px;
    height: 50px;
    margin: 0 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #f43142;
    border: 2px solid #f43142;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#ticketOpenBtn:disabled {
    color: #fff;
    border-color: #ccc;
    background-color: #ccc;
    cursor: default;
}

.dt-04 {
    padding-top: 150px;
    border-bottom: 2px solid #333;
    font-size: 0;
}
a {
    font-size: 0;
    text-decoration: none;
    outline: none;
    color: inherit;
}

.dt-04 a {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    width: 180px;
    border-top: 3px solid #fff;
    text-align: center;
}

.dt-04 a > span {
    font-size: 18px;
    color: #333;
    letter-spacing: -0.09em;
    font-family: 'TheJamsil2Light', sans-serif;
}

.dt-04 a.on {
    border-top: 3px solid #ec7d2c;
}

.detailPage-describe {
    position: relative;
}

.dt-05 {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}

#map {
	width:500px;
	height:400px;
	margin: auto;
}

.dt-05 .dt05-tit {
    padding-top: 35px;
    font-size: 30px;
    color: #333;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'TheJamsil4Medium', sans-serif;
}

.dt-05 p {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'TheJamsil2Light', sans-serif;
}

.dt-05 div .dt05-tbl {
    border-top: 1px solid #333;
    width: 960px;
    margin: 0 auto;
    font-family: 'TheJamsil2Light', sans-serif;
}

.dt-05 div .dt05-tbl table {
    border-collapse: collapse;
    width: 100%;
}

.dt-05 div .dt05-tbl table th {
    font-size: 15px;
    color: #333;
    text-align: center;
    height: 50px;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.dt-05 div .dt05-tbl table th.dt05-tbl-tit2 {
    font-size: 15px;
    color: #333;
    background: #f6f6f6;
}

.dt-05 div .dt05-tbl table td {
    font-size: 15px;
    color: #555;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.dt-05 div .dt05-tbl.dt05-tbl-plus table td {
    font-size: 14px;
    color: #555;
    text-align: left;
    height: auto;
    padding: 8px 10px 4px 22px;
    line-height: 20px;
}

.dt-05 div .dt05-tbl .dt05-detail-box {
    line-height: 25px;
    padding: 6px 0 15px 0;
    color: #555;
    font-size: 14px;
}

.review {
    border-top: 1px solid #000;
}
li {
    list-style: none;
}
.review li {
    max-height: 280px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}
.review li .writerBox {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 21px;
    font-size: 0;
    font-family: 'TheJamsil2Light', sans-serif;
}
.review li .writerBox .writerId {
    top: 19px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 14px;
}
.review li .writerBox span {
    display: inline-block;
    position: relative;
}
.review li .writerBox .writeDate {
    top: 19px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 14px;
    padding-left: 18px;
    margin-right: 17px;
    letter-spacing: 0.05em;
}
.review li .writerBox .reviewGrade {
    top: 20px;
    margin-right: 15px;
}
.review li .writerBox .reviewGrade img {
    display: inline-block;
    margin-right: 3px;
}
.review li .reviewText {
    font-size: 13px;
    line-height: 22px;
    color: #666;
}