<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring_boot_dolls_ticket.project.dao.IPerformanceDAO">

	<resultMap id="performanceList" type="com.spring_boot_dolls_ticket.project.model.PerformanceVO">
		<result property="performanceId" column="performanceId"/>
		<result property="performanceKindCd" column="performanceKindCd"/>
		<result property="performanceRatingCode" column="performanceRatingCode"/>
		<result property="performanceName" column="performanceName"/>
		<result property="performancePrice" column="performancePrice"/>
		<result property="performanceZipcode" column="performanceZipcode"/>
		<result property="performanceAddress" column="performanceAddress"/>
		<result property="performanceDetailAddress" column="performanceDetailAddress"/>
		<result property="reservationOpenExpectedDate" column="reservationOpenExpectedDate"/>
		<result property="performanceImagePath" column="performanceImagePath"/>
		<result property="firstChangeDate" column="firstChangeDate"/>
		<result property="lastChangeDate" column="lastChangeDate"/>
		<result property="maxPerformanceDate" column="maxPerformanceDate"/>
		<result property="minPerformanceDate" column="minPerformanceDate"/>
	</resultMap>

	<select id="detailViewPerformance" parameterType="string" resultType="com.spring_boot_dolls_ticket.project.model.PerformanceVO">
		SELECT PERFORMANCE_ID as performanceId
         , PERFORMANCE_KIND_CD as performanceKindCd
         , PERFORMANCE_RATING_CODE as performanceRatingCode
         , PERFORMANCE_NAME as performanceName
         , PERFORMANCE_PRICE_R as performancePriceR
         , PERFORMANCE_ZIPCODE as performanceZipcode
         , PERFORMANCE_ADDRESS as performanceAddress
         , PERFORMANCE_DETAILADDRESS as performanceDetailAddress
         , PERFORMANCE_DATE1 as performanceDate1
         , RESERVATION_OPEN_EXPECTED_DATE as reservationOpenExpectedDate
         , PERFORMANCE_TIME as performanceTime
         , PERFORMANCE_PRICE_S as performancePriceS
         , PERFORMANCE_DATE2 as performanceDate2
         , PERFORMANCE_IMAGE_PATH as performanceImagePath
         , PERFORMANCE_INFORMATION_IMAGE_PATH as performanceInformationImagePath
        FROM PERFORMANCE_INFO_M WHERE PERFORMANCE_ID=#{performanceId}    
	</select>
	
	<select id="getEventById" resultType="com.spring_boot_dolls_ticket.project.model.PerformanceVO" parameterType="string">
	    SELECT RESERVATION_OPEN_EXPECTED_DATE as reservationOpenExpectedDate
	    FROM PERFORMANCE_INFO_M
	    WHERE PERFORMANCE_ID = #{performanceId}
	</select>
	<resultMap id="performanceResult" type="com.spring_boot_dolls_ticket.project.model.PerformanceVO">
		<result property="performanceId" column="PERFORMANCE_ID"></result>
		<result property="performanceKindCd" column="PERFORMANCE_KIND_CD"></result>
		<result property="performanceRatingCode" column="PERFORMANCE_RATING_CODE"></result>
		<result property="performanceName" column="PERFORMANCE_NAME"></result>
		<result property="performancePriceR" column="PERFORMANCE_PRICE_R"></result>
		<result property="performancePriceS" column="PERFORMANCE_PRICE_S"></result>
		<result property="performanceZipcode" column="PERFORMANCE_ZIPCODE"></result>
		<result property="performanceAddress" column="PERFORMANCE_ADDRESS"></result>
		<result property="performanceDetailAddress" column="PERFORMANCE_DETAILADDRESS"></result>
		<result property="performanceDate1" column="PERFORMANCE_DATE1"></result>
		<result property="performanceDate2" column="PERFORMANCE_DATE2"></result>
		<result property="performanceTime" column="PERFORMANCE_DATE1"></result>
		<result property="reservationOpenExpectedDate" column="RESERVATION_OPEN_EXPECTED_DATE"></result>
		<result property="performanceImagePath" column="PERFORMANCE_IMAGE_PATH"></result>
		<result property="performanceInformationImagePath" column="PERFORMANCE_INFORMATION_IMAGE_PATH"></result>
		<result property="firstChangeDate" column="FIRST_CHANGE_DATE"></result>
		<result property="lastChangeDate" column="LAST_CHANGE_DATE"></result>
	</resultMap>
	<!-- 공연 리스트 조회 -->
	<select id="listAllPerformance" resultMap="performanceResult">
		SELECT * FROM PERFORMANCE_INFO_M ORDER BY PERFORMANCE_ID
	</select>
	<!-- 공연 정보 수정 -->
	<update id="updatePerformance" parameterType="com.spring_boot_dolls_ticket.project.model.PerformanceVO">
		UPDATE PERFORMANCE_INFO_M SET PERFORMANCE_KIND_CD = #{performanceKindCd}, PERFORMANCE_RATING_CODE = #{performanceRatingCode}, PERFORMANCE_NAME = #{performanceName}, PERFORMANCE_PRICE_R = #{performancePriceR}, PERFORMANCE_PRICE_S = #{performancePriceS}, PERFORMANCE_ZIPCODE = #{performanceZipcode}, PERFORMANCE_ADDRESS = #{performanceAddress}, PERFORMANCE_DETAILADDRESS = #{performanceDetailAddress}, PERFORMANCE_DATE1 = #{performanceDate1}, PERFORMANCE_DATE2 = #{performanceDate2}, PERFORMANCE_TIME = #{performanceTime}, RESERVATION_OPEN_EXPECTED_DATE = #{reservationOpenExpectedDate}, PERFORMANCE_IMAGE_PATH = #{performanceImagePath}, PERFORMANCE_INFORMATION_IMAGE_PATH = #{performanceInformationImagePath}, LAST_CHANGE_DATE = SYSDATE WHERE PERFORMANCE_ID = #{performanceId}
	</update>
	<!-- 공연 정보 삭제 -->
	<delete id="deletePerformance" parameterType="string">
		DELETE FROM PERFORMANCE_INFO_M WHERE PERFORMANCE_ID = #{performanceId}
	</delete>
	<!-- 공연 정보 등록 -->
	<insert id="insertPerformance" parameterType="com.spring_boot_dolls_ticket.project.model.PerformanceVO">
		INSERT INTO PERFORMANCE_INFO_M (PERFORMANCE_ID, PERFORMANCE_KIND_CD, PERFORMANCE_RATING_CODE, PERFORMANCE_NAME, PERFORMANCE_PRICE_R, PERFORMANCE_PRICE_S, PERFORMANCE_ZIPCODE, PERFORMANCE_ADDRESS, PERFORMANCE_DETAILADDRESS, PERFORMANCE_DATE1, PERFORMANCE_DATE2, PERFORMANCE_TIME, RESERVATION_OPEN_EXPECTED_DATE, PERFORMANCE_IMAGE_PATH, PERFORMANCE_INFORMATION_IMAGE_PATH, FIRST_CHANGE_DATE, LAST_CHANGE_DATE) VALUES (#{performanceId}, #{performanceKindCd}, #{performanceRatingCode}, #{performanceName}, #{performancePriceR}, #{performancePriceS}, #{performanceZipcode}, #{performanceAddress}, #{performanceDetailAddress}, #{performanceDate1}, #{performanceDate2}, #{performanceTime}, #{reservationOpenExpectedDate}, #{performanceImagePath}, #{performanceInformationImagePath}, #{firstChangeDate}, #{lastChangeDate}
	</insert>
	
	<!-- 카테고리 page -->
	<select id="selectPerformance" resultMap="performanceList">
		SELECT 
	        A.PERFORMANCE_ID AS performanceId
	        ,A.performance_kind_cd AS performanceKindCd
	        ,A.performance_rating_code AS performanceRatingCode
	        ,A.performance_name AS performanceName
	        ,A.performance_price AS performancePrice
	        ,A.performance_zipcode AS performanceZipcode 
	        ,A.performance_address AS performanceAddress
	        ,A.performance_detailaddress AS performanceDetailAddress
	        ,A.reservation_open_expected_date AS reservationOpenExpectedDate
	        ,A.performance_image_path AS performanceImagePath
	        ,A.first_change_date AS firstChangeDate
	        ,A.last_change_date AS lastChangeDate
	        , (SELECT MAX(PERFORMANCE_DATE) FROM PERFORMANCE_SCHEDULE_D WHERE PERFORMANCE_ID = A.PERFORMANCE_ID) AS maxPerformanceDate
	        , (SELECT MIN(PERFORMANCE_DATE) FROM PERFORMANCE_SCHEDULE_D WHERE PERFORMANCE_ID = A.PERFORMANCE_ID) AS minPerformanceDate
	    FROM performance_info_m A 
	    order by maxPerformanceDate 
	</select>
</mapper>